In [109]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
 #   for filename in filenames:
  #      print(os.path.join(dirname, filename))

df_test = pd.read_csv('./test1.csv') 
df_train = pd.read_csv('./train1.csv') 

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [110]:
boston = df_train
boston1 = df_test
print(boston)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
0    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671    2  242
1    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671    2  242
2    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622    3  222
3    0.14455  12.5   7.87   0.0  0.524  6.172  96.1  5.9505    5  311
4    0.17004  12.5   7.87   NaN  0.524  6.004  85.9  6.5921    5  311
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
346  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786    1  273
347  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875    1  273
348  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675    1  273
349  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889    1  273
350  0.04741   0.0  11.93   0.0  0.573  6.030   NaN  2.5050    1  273

     PTRATIO       B  LSTAT  MEDV   Id
0       17.8  396.90   9.14  21.6    1
1       17.8  392.83   4.03  34.7    2
2       18.7  394.63   2.94  33.4    3
3       15.2  396.90  19.15  27.1    7
4       15.2  386.71  17.10  18.9    9
..       ...     ...    ...   ...  ...
346     21.0  391.99    NaN  22.4  501
347     21.0  396.90   9.08  20.6  502
348     21.0  396.90   5.64  23.9  503
349     21.0  393.45   6.48  22.0  504
350     21.0  396.90   7.88  11.9  505

[351 rows x 15 columns]

In [111]:
print(boston1)

        CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575   65.2  4.0900    1  296
1    0.06905   0.0   2.18   0.0  0.458  7.147   54.2  6.0622    3  222
2    0.02985   0.0   2.18   0.0  0.458  6.430   58.7  6.0622    3  222
3    0.08829  12.5   7.87   NaN  0.524  6.012   66.6  5.5605    5  311
4    0.21124  12.5   7.87   0.0  0.524  5.631  100.0  6.0821    5  311
..       ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
150  0.11132   0.0  27.74   0.0  0.609  5.983   83.5  2.1099    4  711
151  0.27957   0.0   9.69   0.0  0.585  5.926   42.6  2.3817    6  391
152  0.17899   0.0   9.69   0.0  0.585  5.670   28.8  2.7986    6  391
153  0.28960   0.0   9.69   0.0  0.585  5.390   72.9  2.7986    6  391
154  0.23912   0.0   9.69   0.0  0.585  6.019   65.3  2.4091    6  391

     PTRATIO       B  LSTAT   Id
0       15.3  396.90   4.98    0
1       18.7  396.90    NaN    4
2       18.7  394.12   5.21    5
3       15.2  395.60  12.43    6
4       15.2  386.63  29.93    8
..       ...     ...    ...  ...
150     20.1  396.90  13.35  492
151     19.2  396.90  13.59  494
152     19.2  393.29  17.60  495
153     19.2  396.90  21.14  496
154     19.2  396.90  12.92  498

[155 rows x 14 columns]

In [112]:
boston.keys()

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV', 'Id'],
      dtype='object')

In [113]:
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,Id
0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,1
1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,2
2,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,3
3,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1,7
4,0.17004,12.5,7.87,NaN,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9,9

In [114]:
boston.fillna(0)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,Id
0,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,1
1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,2
2,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,3
3,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1,7
4,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,0.00,22.4,501
347,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,502
348,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,503
349,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,504
350,0.04741,0.0,11.93,0.0,0.573,6.030,0.0,2.5050,1,273,21.0,396.90,7.88,11.9,505

In [115]:
bs_X = boston.drop(['MEDV'], axis = 1)
bs_Y = boston['MEDV']

In [116]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(bs_X, bs_Y, random_state = 101, test_size = 0.51)

In [117]:
X_tr = X_train.fillna(0)
X_ts = X_test.fillna(0)

In [118]:
bs_X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Id
count,337.000000,339.000000,339.000000,339.000000,351.000000,351.000000,334.000000,351.000000,351.000000,351.000000,351.000000,351.000000,335.000000,351.000000
mean,3.210342,11.589971,11.060442,0.076696,0.558131,6.278826,70.041617,3.749911,9.267806,405.361823,18.378348,357.634615,12.747104,248.575499
std,7.397633,24.528332,6.812328,0.266502,0.118881,0.707658,27.653419,2.064846,8.587836,166.090415,2.258910,88.961155,7.113154,145.816751
min,0.009060,0.000000,0.740000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,2.520000,1.730000,1.000000
25%,0.078960,0.000000,5.190000,0.000000,0.453000,5.875000,45.925000,2.100350,4.000000,279.000000,17.000000,374.495000,7.355000,126.500000
50%,0.283920,0.000000,9.690000,0.000000,0.538000,6.176000,79.200000,3.152300,5.000000,330.000000,18.800000,391.430000,11.450000,244.000000
75%,2.818380,6.250000,18.100000,0.000000,0.631000,6.618500,94.575000,5.116700,8.000000,666.000000,20.200000,396.210000,16.820000,371.500000
max,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,505.000000

In [119]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_tr, y_train)

LinearRegression()

In [120]:
print(reg.coef_)

[-6.84490984e-02  5.75765482e-02 -6.11013528e-02  4.58453623e+00
 -1.36564882e+01  3.96884830e+00  2.14326678e-03 -1.00614111e+00
  2.56801285e-01 -9.34419150e-03 -8.90143485e-01  1.20326508e-02
 -4.07322429e-01 -1.22612740e-03]

In [121]:
y_pred = reg.predict(X_ts)
print(y_pred)

[30.26699227 25.17910845 26.8539361  33.08504519 29.09828473 28.31517267
 28.37851938 37.65472285 33.44058831 17.89219816 28.07594444  8.65484319
 28.3644171  25.72679149 23.14989241 28.50901502 27.61666157 29.69589862
 13.39408521 13.3721954  18.29543988 11.36905388 15.31864259 12.87235751
 23.96677704 16.67116692 16.37115693 20.03451547 14.78975329 29.67439093
 22.55661062 36.45715622 31.27589183 38.16705854 16.0381875  23.06554861
 17.71692864 23.40463706 20.06938769 23.25002807 21.95346142 22.99220482
 16.8829367  20.41533812 34.02101223 19.92485342 18.72025064 33.64651127
 36.60515068 17.89807682 31.98997683 31.45763303 36.53056007 27.08331995
 29.94747488 19.10829732 18.05747381 17.89419542 23.16376673 10.18932141
 21.41402466 25.67351138 13.82110833 31.2248652  23.8357142  21.91348673
 30.98847498  5.59730648 22.93640107 21.83416832 24.11899539 27.04818571
 23.55258934 14.93563999 27.47202698  6.9980022  19.39166837 32.89471525
 26.70205825 28.2829749  22.7080464  27.39907917 19.76381025 21.79332173
 23.55461537 18.22365634 20.77087701 39.90782784 24.08535067 27.49283517
 19.20738753 12.83501165 17.10017706 22.12981089 18.13553313 25.88467547
 24.23631731 19.8447267  21.21746003 11.63725307 21.52588834 31.79573423
 32.30932119 13.18764513 18.20564862 16.81362708 24.08975637 17.3280824
 20.40454773 32.93196175 19.66318724 41.9231589  20.11243043 28.3449744
  2.24800973 25.45615785 18.9830339  25.22149166 41.07991944 25.77302653
 12.69078133 23.02093425 21.02409481 29.37246484 33.77978357 30.02077729
 21.54219983 22.47640171 19.34647232 32.17013871 22.72379463 31.56438281
 23.07152249 20.46352087  7.27377606 14.1992377  18.15989373 24.11961522
 17.24156856 20.13718129 33.85975735 35.53278627 13.20401696 33.85107284
 37.6972763  11.43423177 24.3819373  19.36628698 29.74032559 13.69086461
 24.01886633 18.76575953 11.49833062 12.31289339 24.86175333 39.60697734
 20.84082884  3.63563348 17.74226526 20.25307677 19.54225715 21.97028758
 18.13973118 14.70869877 13.81754556 23.77300548 11.49863161 19.2914258
 16.40271478 13.1671087  24.11919229 18.42427172 26.4264054  11.76692258
  8.88254004 30.51641797 24.27589294 10.21347827 19.21478969 13.08126672]

In [122]:
print(y_test)

143    24.1
307    17.1
48     19.4
38     35.4
246    24.5
       ...
112    41.3
121    23.8
22     13.2
42     18.7
285     8.3
Name: MEDV, Length: 180, dtype: float64

In [123]:
#mean squared error
print(np.mean((y_pred-y_test)**2))

28.35341247913973

In [124]:
#check accuracy with mean squared error
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test, y_pred))

28.35341247913973

In [125]:
boston1 = boston1.fillna(0)
#reg1 = LinearRegression()
bs_X_pred = boston1
#reg1.fit(bs_X_pred, y_train)
y_pred2 = reg.predict(bs_X_pred)
print(y_pred2)

[29.72539981 30.24963024 25.25946716 23.46209913 14.24980638 20.86102801
 21.61993305 19.05806801 13.4144663  21.0613849  26.88730366 22.26764328
 21.60009517 17.90158894 24.8369696  27.6979364  18.30578784 22.65673851
 24.17549312 24.93188328 24.42955258 26.94879116 21.96013581 26.44761633
 27.24667464 24.15992567 34.70185944 23.76148013 24.60239043 20.70506301
 20.05630305 19.48507514 25.62717055 24.01962525 19.54483946 18.54033335
 16.69747626 18.45745448 20.0698368  13.32284453 18.80228739 15.64471102
  4.81373173  9.57415301 11.64099207 24.1367827  34.62576581 29.1820538
 24.77830616 31.2274901  34.40269865 31.88413862 34.23430456 30.72387708
 33.20604294 31.6351815  41.01434018 32.40920123 23.95938889 19.23441551
 23.94793373 30.91115522 36.58728135 35.26217243 29.29263362 32.31840098
 26.46505054 27.86616308 27.38015649 15.77368802 21.02443173 22.2519234
 24.74694459 24.55455688 25.05478652 25.73161965 25.95442055 23.94157413
 36.00124148 27.04184906 36.8215861  29.36311046 33.76377759 37.57526978
 33.22200268 32.98029252 24.44108804 26.15958504 20.25060983 26.78240869
 30.10863131 32.40221713 26.90024587 22.2616883  17.00388445 24.40995093
 20.73278724 21.96400066 22.92519132 21.45066034 20.83912652 29.35972988
 23.27597765 19.8020544  14.72700094 37.60640021 14.01535383  8.47715431
 33.71453889 19.92797416 16.3055709  16.76480534  3.93302942  9.05494646
 18.23566572 19.64828816 15.80995549 17.91311605  8.81945027 10.28956837
 15.54994779  1.71191377 11.10543083 12.80308279 13.92732188 18.71860303
 16.9704336  14.98438524 13.13916543 12.11739657 19.07073317 15.64278787
 13.10694378 22.25877825 11.50295691 16.76480067 15.08998181 11.51038979
 17.62027261 21.35924455 19.43372512 16.91981022 16.21526143 16.5288724
 19.241792   21.48559777 18.41604881 20.55834766 21.90780279 18.83709669
 14.44767256 19.48410137 16.34789657 13.9238563  20.14505843]

In [126]:
#creating submission.csv file
pred = pd.DataFrame(y_pred2)
datasets = pd.concat([boston1.Id, pred], axis = 1)
datasets.columns = ['Id', 'MEDV']
datasets.to_csv('submit.csv', index=False)